.main{
    display: flex;
    background-color: aqua;
}
.item{
     padding-top:20px;
     padding-left: 200px;
}
.item a{
    padding-right: 50px;
}



.gg{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: blue;
}
#pic{
    padding-top: 70px;
    border-radius: 70%;
    padding-left: 30px;
}