.main{
    display: flex;
    background-color: aqua;
   
}
.item{
    
    padding-top: 20px;
    padding-left: 200px;   
}
.item a{
    padding-right: 50px;
}
.imgs{
    display: grid;
    grid-template-columns:60% 40%;
}

#pp{
    padding-top: 40px;
    border-radius:60%;
    padding-left: 40px;
}

.imgs1{
    display: grid;
    grid-template-columns:30% 70%;
    
}
#pp1{
    padding-top:25px;
    border-radius:20px;
    padding-left:30px;
}